@font-face {
  font-family: Lostar;
  src: url(/STYLES/fonts/Lostar.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/STYLES/fonts/Poppins-Regular.ttf);
}

.about-me {
  padding-top: 40px;
  background-color: #273940;
  position: relative;
  height: 100vh;
}

.abtme {
  background-color: #273940;
}

.abtme a {
  color: #e2d2b9;
}

.about-me div {
  position: absolute;
}

.abtme-title {
  font-family: Lostar;
  color: #e2d2b9;
  text-align: center;
  font-size: 60px;
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.profile-pic {
  top: 35%;
  left: 42%;
}

.profile-pic img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 15px solid #d9d9d9;
}

.about-me div button {
  padding: 50px 0px 50px 0px;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: #273940;
  border: none;
  font-size: 18px;
  font-family: Poppins-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me div button img {
  display: none;
  vertical-align: middle;
  border-radius: 50%;
}

.about-me div button:hover span {
  display: none;
}

.about-me div button:hover img {
  display: inline-block;
}

.under-the-rock button {
  height: 340px;
  width: 340px;
}

.under-the-rock button img {
  height: 350px;
  width: 350px;
}

.under-the-rock {
  top: 53%;
  left: 65%;
}

.likes {
  top: 30%;
  left: 83%;
}

.likes button {
  height: 225px;
  width: 225px;
}

.likes button img {
  height: 240px;
  width: 240px;
}

.edu {
  top: 10%;
  left: 63%;
}

.edu button {
  height: 290px;
  width: 290px;
}

.edu button img {
  height: 300px;
  width: 310px;
}

.hobby {
  top: 60%;
  left: 3%;
}

.hobby button {
  height: 290px;
  width: 290px;
}

.hobby button img {
  height: 300px;
  width: 300px;
}

.raised {
  top: 50%;
  left: 23%;
}

.raised button {
  height: 250px;
  width: 250px;
}

.raised button img {
  height: 260px;
  width: 260px;
}

.mbti {
  top: 30%;
  left: 5%;
}

.mbti button {
  height: 180px;
  width: 180px;
  /*top: 80%;
  left: 150px;*/
}

.mbti button img {
  height: 190px;
  width: 190px;
}

.names {
  top: 20%;
  left: 24%;
}

.names button {
  height: 220px;
  width: 220px;
}

.names button img {
  height: 230px;
  width: 230px;
}
