@font-face {
  font-family: Lostar;
  src: url(/STYLES/fonts/Lostar.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/STYLES/fonts/Poppins-Regular.ttf);
}

.mywork {
  background-color: #273940;
}

.mywork a {
  color: #e2d2b9;
}

.photography {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px auto;
  height: 240px;
}

.photoname {
  background-color: #273940;
  color: #a4aeac;
  font-family: Poppins;
  font-size: 36px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.charname {
  background-color: #a4aeac;
  color: #273940;
  font-family: Poppins;
  font-size: 36px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.photo-placeholder {
  overflow: hidden;
  position: relative;
}
.photo-placeholder img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transform: translate(0%, -40%);
}

.char-placeholder {
  overflow: hidden;
  position: relative;
}
.char-placeholder img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transform: translate(0%, -20%);
}

.art-placeholder {
  overflow: hidden;
  position: relative;
}
.art-placeholder img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transform: translate(0%, -15%);
}

.deets {
  margin-top: 0px;
  grid-template-columns: 400px auto;
}

.info {
  margin-top: 0px;
  grid-template-columns: 300px auto;
}
